body {
	color: $primary-color;
	font-family: 'Open Sans', sans-serif;
	font-size: #{$base-font-size}px;
}
h1, h2, h3, h4, h5, h6 {
	color: $secondary-color;
	font-family: 'Oswald', sans-serif;
}

h1 {
	font-size: 2.5em;
}

a {
	color: $primary-color;
	
	&:visited {
		color: $primary-color;
	}
	&:hover {
		text-decoration: none;
	}


}

